<div class="container">
    <div class="casebtncontainer">
        <button class="evidencebtn" id="openev" ng-click="openEvidence()">Evidence</button>
        <button class="evidencebtn" ng-click="saveGame()">Save</button>
        <button class="evidencebtn" ng-click="loadGame()">Load</button>
        <a class="evidencebtn totitlebtn" href="#title" ng-click="toTitle()">Back To Title</a>
    </div>

    <div class="well well-lg gamecontainer" ng-style="background">
        <img class="evidence evidencedisplay" ng-src="{{activesrc}}" ng-show="evidenceBox" />
        <div class="evidencebox" ng-show="evidencePanel">
          <div class="closecontainer">
            <button class="closebtn" ng-click="closeEvidence()">Close Evidence</button>
          </div>
          <div class="evidencearea" ng-repeat="item in evidence">

            <div class="evidenceholder" ng-show="evidencePlaceholder[$index]">
                <img class="evidence" id="{{item.id}}" ng-src="{{item.image}}" ng-show="hiddenEvidence[$index]" ng-click="setActiveEvidence(item.id)" />
            </div>

          </div>


            <div class="btnwrapper">
                <button class="evidencebtn evidenceboxbtn" id="check" ng-click="examineEvidence()">Check</button>
                <button class="evidencebtn evidenceboxbtn" id="present" ng-click="presentEvidence(currEvidence)" ng-show="isExamination">Present</button>
            </div>
        </div>
        <div class="choicebox" ng-show="isChoice">
            <button class="btn choicebtn" ng-show="isChoiceA" ng-click="madeChoice('choiceAChosen')">{{choiceAText}}</button>
            <button class="btn choicebtn" ng-show="isChoiceB" ng-click="madeChoice('choiceBChosen')">{{choiceBText}}</button>
            <button class="btn choicebtn" ng-show="isChoiceC" ng-click="madeChoice('choiceCChosen')">{{choiceCText}}</button>
        </div>
        <div class="namebox">
            {{charName}}
        </div>
        <button id="press" class="press evidencebtn" ng-click="pressWitness()" ng-show="allowPress">Press</button>
        <div class="textbox" ng-style="texttype">
            <p ng-bind="displayLine"></p>
            <img class="pointer" src="../assets/interfaceimages/pointer.gif" ng-click="advanceText()" ng-show="allowForward" />
            <img class="pointer-prev" src="../assets/interfaceimages/pointer.gif" ng-click="prevText()" ng-show="allowBackward" />
        </div>
<div class="saveselect" ng-show = "saveSelection">
  <h3>Save Selection</h3>
  <div class="saves" ng-repeat="save in savesArray">
    <button class="choicebtn savebtn" ng-click="loadSave(save._id)">{{save.displayLine}}</button>
    <button class="delete" ng-click="deleteSave(save._id)">Delete?</button>
  </div>
  <button class="choicebtn" ng-click="newGame()">New Game</button>
</div>
        <img class="portrait" ng-src="../assets/sprites/{{emotion[isTalking]}}" ng-hide="evidencePanel" />
        <img class="overlay" ng-show="playAnimation" ng-src="{{animationsrc}}" />
        <img class="defensebench" src="../assets/sprites/benches/defensebench.gif" ng-show="isDefense" />
        <img class="prosecutionbench" src="../assets/sprites/benches/prosecutionbench.gif" ng-show="isProsecutor" />
        <img class="witness_stand" src="../assets/sprites/benches/witnessstand.gif" ng-show="isWitness" />
        <audio id="gamemusic" loop>
            <source ng-src="{{musicsrc}}" />
        </audio>
    </div>
</div>
