<div class="container">
    <div class="well well-lg gamecontainer" ng-style="background">
        <h1>Perl Pascal : Ace Attorney</h1>
        <h2> Select a Case </h2>
        <div class="btncontainer">
          <a class="btn titlebtn" href="#case" ng-click="clickCase(0)">Turnabout Tutorial</a>
            <a class="btn titlebtn" href="#case" ng-click="clickCase(1)">Turnabout Coding</a>
            <a class="btn titlebtn" href="#case" ng-click="clickCase(2)">Turnabout Placeholder</a>
        </div>
        <div class="textbox" ng-style="texttype">
            <p class="authortag">By Anthony Peloza</p>
        </div>
    </div>
</div>
